<div class="pre-scrollable">
    <div ng-controller="ConsentController" overflow="auto" ng-cloak>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Consent for Care</h2>
            </div>
        </md-toolbar>

        <div layout="column">
            <md-content layout-padding>
                <h4>Consent for Treatment</h4>
                <p>I consent to evaluation and treatment of the condition for which I, or my child or dependant, have come to
                    <strong>Origin 
                Health Academy</strong> (OHA), and authorize the physicians and other health care providers affiliated with
                    OHA to provide such evaluation and treatment. I understand that health care providers in training may
                    be involved in my care and treatment and consent to their involvement. I understand that the practice
                    of medicine is not an exact science, and acknowledge that no guarantees have been made to me regarding
                    the likelihood of success or outcomes of any examination, treatment, diagnosis, or test performed at
                    or by OHA. I authorize OHA to examine, use, store and dispose of all tissue, fluids, or specimens removed
                    from my body. I acknowledge and agree that this consent will be applicable to all visits or episodes
                    of evaluation and treatment at OHA.
                </p>
                <h4> Responsibility For Payment / Assignment Of Benefits / Contact</h4>
                <p>In consideration of the treatment provided at OHA to me or my child or dependant, I agree to pay OHA for
                    such treatment. If private health insurance, Medicare, Medicaid, other governmental or other insurance
                    programs cover the treatment, I authorize OHA to bill any such insurer for all charges incurred in connection
                    with the diagnosis, care and treatment. My insurance coverage may provide that some amount of the bill
                    will remain my personal responsibility, such as my deductible, co-payment, co-insurance or charges not
                    covered by my health insurance, Medicare, Medicaid or any other programs for which I am eligible. I understand
                    that certain payments may be required at the time of, or in advance of, services being provided. I also
                    understand I will be billed for any charges not paid by my insurer, and I will be responsible for paying
                    them. I understand and acknowledge that: <br>
                    <br> • If I elect to pay for medical treatment in cash, in full before services are provided, I can request
                    that my health insurance, in any form, not be billed for that service or be notified that the service
                    was provided. <br><br> • I am responsible for notification to my insurance company to obtain authorization
                    before service is rendered, and if I do not pre-certify for such services, my benefits may be reduced
                    or lost, but I will still be responsible for paying OHA for the services. Any questions I have regarding
                    my health insurance coverage or benefit levels should be directed to my health plan and my certificate
                    of coverage. <br><br> • If I do not consent, or later revoke my consent, to the release of my information
                    to any insurer that I have identified, I will be responsible to pay all list charges for the treatment
                    and services received. <br>

                    <p> I hereby assign to OHA and the professionals involved in my care, all my rights and claims for reimbursement
                        under any private health insurance policy, Medicare, Medicaid or any other programs that I identify
                        for which benefits may be available to pay for the services provided to me, and authorize payment
                        for such services to be made directly to OHA. If I default or do not pay for treatment provided,
                        I acknowledge and agree that OHA is entitled to recover the full amount of the debt owed for medical
                        services and is entitled to the right of recovery of all collection expenses, including litigation
                        or arbitration costs, and reasonable attorney’s fees incurred for the purpose of securing payment.
                        Collection expenses and/or attorney fees include the fee charged to OHA to complete the collection.
                        For example, if a collection agency or law firm charges 20% of the amount collected as their fee,
                        OHA will add 20% to my bill and the collection agency or law firm will then earn 20% of the amount
                        collected.</p>
                    <p>I agree that in order for OHA to service my account or to collect any amounts I may owe, OHA or a vendor
                        acting on its behalf, may contact me by telephone at any telephone number associated with my account,
                        including cellular telephone numbers, which could result in charges to me. I agree that OHA or a
                        vendor acting on its behalf may also contact me by sending text messages or e-mails, using any e-mail
                        address I have provided. I acknowledge and agree that methods of contact may include using pre-recorded/artificial
                        voice messages and/or use of an automatic dialing device, as applicable.
                    </p>
                    <p>Further information concerning OHA financial practices and expectations can be found in the Patient Billing
                        Notice, which has been offered to me.</p>

                    <h4>Patient Rights and Responsibilities</h4>

                    <p> I understand that I have the right, and the responsibility, to participate in my care and treatment.
                        I understand that I have the right to be informed about the treatment being recommended, and the
                        responsibility to ask questions if I do not understand it. I agree to provide accurate and complete
                        information about my health history and presenting complaint, to Centegra Physician Care General
                        Consent & Acknowledgement Form agree upon a treatment plan, and follow that plan. I understand that
                        my health care providers will treat me with respect, and I agree to do the same for them.</p>

            </md-content>

            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Use and Disclosure of Health Information</h2>
                </div>
            </md-toolbar>

            <div layout="column">
                <md-content layout-padding>
                    <p>I understand that OHA will use and disclose my health information for the purposes of treatment, payment,
                        and healthcare operations, as permitted by law. Further information can be found in the Notice of
                        Privacy Practices, which has been offered to me.</p>

                    <p>I understand and acknowledge that OHA may record medical and other information related to my treatment
                        in paper, electronic, photographic, video and other formats and that such information will be used
                        in the course of my treatment, for payment purposes and to support healthcare operations. I give
                        OHA, its employees and agents consent to exchange information with other health care professionals
                        and providers (for example physicians, consultants, hospitals, nursing homes, home health agencies
                        and pharmacies) about my prior and current health conditions to facilitate treatment, or to facilitate
                        discharge planning. </p>

                    <p>As applicable, I specifically consent to the release by OHA of any and all information, test results
                        and records regarding my treatment for drug or substance abuse, alcoholism, mental health, HIV or
                        AIDS to: 1) my treating physicians and independent professionals and other healthcare professionals
                        and providers, and; 2) any private health insurance plan, Medicare, Medicaid, other governmental
                        insurance program or other third-party payor that I identify to obtain payment for the treatment
                        and services provided to me. </p>


                </md-content>

                <md-toolbar class="md-primary">
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Communication Preferences </h2>
                    </div>
                </md-toolbar>

                <div layout="column">
                    <md-content layout-padding>
                        <p>I agree that OHA may communicate with me in writing to any address I have provided, may communicate
                            with me orally or by text message to any telephone number I have provided, and may communicate
                            with me electronically to any email address I have provided. </p>


                    </md-content>
                </div>

            </div>
            <md-content layout-padding>
                <label>By checking these boxes you agree to give consent for the following:</label>
                <div layout="row">
                    <md-checkbox ng-model="consentCtrl.patient.consentForCare" aria-label="Checkbox 1" ng-true-value="true" ng-false-value="false"
                        class="md-warn md-align-top-left" flex>
                        Consent to Give Care
                    </md-checkbox>
                    <md-checkbox ng-model="consentCtrl.patient.consentForText" aria-label="Checkbox 3" ng-true-value="true" ng-false-value="false"
                        class="md-warn md-align-top-left" flex>
                        Communication Preferences
                    </md-checkbox>
                </div>
            </md-content>
        </div>

        <md-button class="md-raised md-warn" ng-click="consentCtrl.addConsent(consentCtrl.patient)">NEXT</md-button>
