<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>


    <div layout-padding>
        <div>
            <md-toolbar class="md-indigo">
                <div class="md-toolbar-tools">
                    <md-truncate flex>Please Confirm Information</md-truncate>
            </md-toolbar>
            </div>
        </div>
        <div class="pre-scrollable">
            <div layout="row">
                <div flex="33"><label>First Name:</label></div>
                <div flex="33"><label>Middle Name:</label></div>
                <div flex="33"><label>Last Name:</label></div>
            </div>
            <div layout="row">
                <div flex="33"><label>Date of Birth:</label></div>
                <div flex="33"><label>Social Security Number:</label></div>
            </div>
            <div layout="row">
                <div flex="33"><label>Address1:</label></div>
                <div flex="33"><label>Address2:</label></div>
            </div>
            <div layout="row">
                <div flex="33"><label>City:</label></div>
                <div flex="33"><label>State:</label></div>
                <div flex="33"><label>ZIP:</label></div>
            </div>
            <div layout="row">
                <div flex="33"><label>Mobile Phone:</label></div>
                <div flex="33"><label>Home Phone:</label></div>
                <div flex="33"><label>Work Phone:</label></div>
            </div>

            <md-divider ng-if="!$last"></md-divider>
            <div layout="column">
                <label><b><u>Emergency Contact</u></b></label>
                </div>
                <div layout ="row">
                <div flex="33"><label>First Name:</label></div>
                <div flex="33"><label>Last Name:</label></div>
            </div>
            <div layout="column">
                <label>Address:</label>
                <label>Phone Number:</label>
                <label>Relationship To Patient:</label>
                </div>

                <md-divider ng-if="!$last"></md-divider>
                <div layout="column">
             <b><u>Reason for Visit</u></b>       
                <label>Symptom(s):</label>
                <label>Pain Scale:</label>
            </div>
            <section layout="row" layout-sm="row" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-gray">Edit</md-button>
            </section>
        </div>


</body>

</html>
