<div layout="column">
        <div class="">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary">Save changes</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
    <p class="lead text-center">Welcome to ExpressER! Let's get started.</p>
    <div class="padded button" layout layout-align="center center">
        <span>
            <img src="/images/EspressERLogo.jpg" alt="Our Logo" style="width : 400px">
        </span>
    </div>
    <div class="padded button" layout layout-align="center center">
        <span>
            <md-button class="md-raised md-primary" ng-click='login = !login'>Existing Patient</md-button>
        </span>
    </div>
    <div class="padded button" layout layout-align="center bottom">
        <span ng-hide="login">
            <md-button class="md-raised md-warn" ui-sref="patient">New Patient</md-button>
        </span>
        <span ng-show="login">
            <md-content class="md-no-momentum">
                <div layout="row" layout-align="center center">
                    <md-input-container class="md-icon-float md-block input">
                        <label>Last Name</label>
                        <input ng-model="patientInfoCtrl.patient.ssn" type="text">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block input">
                        <label>Last 4 Digits of SSN</label>
                        <input ng-model="patientInfoCtrl.patient.ssn" type="text">
                    </md-input-container>
                    <md-button class="md-raised md-primary" ui-sref="patient">Submit</md-button>
                    <md-button class="md-raised md-warn" ng-click="login = !login ">Cancel</md-button>
                </div>
            </md-content>
        </span>
    </div>
</div>
<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="text-center">This is a <strong>demo</strong> application. Patients arriving at an emergency room will use this application from a tablet and check
            themselves in without talking to a receptionist.</h3>
            <br>
            <h2 class="text-center"><strong>To demo, please click on New Patient and follow the prompt</strong></h2>
    </div>

</div>
