<div layout="row" layout-align="center center">
    <h3 class="md-headline" layout-align="center center">Enter Your Emergency Contacts (up to 3)</h3>
</div>

<div layout="column" layout-padding ng-cloak>

    <br/>

    <div class="pre-scrollable">

        <md-content class="md-no-momentum">

            <md-input-container class="md-icon-float md-block">
                <label>Contact First Name</label>
                <md-icon class="name"></md-icon>
                <input ng-model="emergencyContactCtrl.contact.firstName" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Contact Last Name</label>
                <md-icon class="name"></md-icon>
                <input ng-model="emergencyContactCtrl.contact.lastName" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Contact Phone Number</label>
                <md-icon class="name"></md-icon>
                <input ng-model="emergencyContactCtrl.contact.mobilePhone" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Relationship to Contact</label>
                <md-icon class="name"></md-icon>
                <input ng-model="emergencyContactCtrl.contact.relationship" type="text">
            </md-input-container>

        </md-content>

    </div>
    
    <md-button class="md-raised md-warn" ng-click="emergencyContactCtrl.createEmergencyContact(emergencyContactCtrl.contact)">Go to Symptoms</md-button>

</div>
<pre>{{emergencyContactCtrl | json}}</pre>
