<a ui-sref="splash">
  <small ui-sref="splash"><span class="glyphicon glyphicon-arrow-left"></span> Cancel</small>
</a>

<div class="progress">
  <div class="progress-bar progress-bar-success">

  </div>
</div>

<div class="well">
  <div ui-view></div>
</div>
<div class="well clearfix">
  <md-button ng-click="wizardCtrl.previous()" class="md-raised md-warn"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous</md-button>
  <md-button ng-click="wizardCtrl.next()" class="md-raised md-primary">Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </md-button>
</div>
